* {
	box-sizing: border-box;
}
:root {
	color-scheme: light dark;
	--background-color: white;
	--background-color-2: hsl(0, 0%, 95%);
	--text-color: black;
	--primary-color: red;
	--secondary-color: rgb(86.92% 69.97% 0%); /* Gold with less luminance */
	--font-stack: Avenir, "Century Gothic", "URW Gothic", sans-serif;
}
body {
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	font: 20px var(--font-stack);
}
main {
	float: left;
	padding: 0 100px;
}
aside {
	float: left;
	width: 25%;
	padding: 0 50px;
}
aside + main {
	width: 75%;
	padding: 0 50px;
}
h2:not(:first-of-type) {
	margin-top: 2em;
}
a {
	color: var(--primary-color);
	font-weight: bold;
	text-decoration: none;
}
a:hover, button:hover {
	color: var(--secondary-color);
	transition-duration: 0.2s;
}
/* Navbar */
#navbar {
	overflow: hidden;
	width: 100%;
	margin: 40px 0;
	background-color: var(--background-color-2);
	color: var(--accent-color);
	list-style-type: none;
}
#navbar li {
	display: inline-block;
	width: 10em;
	text-align: center;
}
#navbar a {
	display: block;
	padding: 1em;
}
/* Officer sidebar */
officer-bio {
	display: flex;
	align-items: center;
	margin: 0.5em 0;
	font-size: 0.8em;
}
officer-bio img {
	width: 5em;
	height: 5em;
}
officer-bio div {
	margin-left: 1em;
}
officer-bio h2, officer-bio p {
	margin: 0.2em 0;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: hsl(30, 20%, 10%);
		--background-color-2: hsl(30, 15%, 15%);
		--text-color: linen;
	}
}