@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: Sofia-Pro;
	src: url(assets/sofia_pro_bold.otf);
	font-weight: bold;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e8e8e8;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #888;
}

$onBackground: #000;
$highlight: #527aff;
$background: #fff;
$red: #eb5757;
$gold: #89ef15;
$grayDark: #888;
$grayLight: #c4c4c4;

html {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Sofia-Pro';
	width: 100%;
	font-size: 16px;
	height: 100vh;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Sofia-Pro';
	width: 100%;
	height: 100%;
}

.nav {
	padding-left: 2em;
	padding-right: 2em;
	height: 4em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	.title {
		margin: 0 auto;
	}

	.navPane {
		position: absolute;
		top: 4em;
		left: 0;
		width: 100%;
		height: calc(100vh - 4em);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		background: #fff;
		opacity: 0;
		transition: 0.3s opacity;
		pointer-events: none;
		&.visible {
			opacity: 1;
			pointer-events: all;
		}
	}
}

.menu {
	position: absolute;
	font-size: 2em;
	cursor: pointer;
}

.navItem {
	margin-left: 3em;
	color: $grayLight;

	&.navSubitem {
		margin-left: 0.6em;
	}

	&._highlight {
		color: $highlight;
	}

	&:hover {
		color: $highlight;
	}
}

h1 {
	font-size: 4em;
	margin: 0;
}
h2 {
	font-size: 3em;
	margin: 0;
}
h3 {
	font-size: 2em;
	margin: 0;
}

h4 {
	font-size: 1.7em;
	cursor: pointer;
	margin: 0;
}

h5 {
	font-size: 1.5em;
	color: $grayDark;
	margin: 0;
}

.navbar-item {
	position: relative;
}

.dropdown-contents {
	border-radius: 1em;
	background: $background;
	box-shadow: 1px 2px 8px $grayLight;
	position: absolute;
	top: 100%;
	display: none;
	margin-left: 3.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	&._show {
		display: block;
	}
}

.leftpane {
	width: 33%;
	float: left;
	border-right: 2px solid lightgray;
	height: calc(
		100% - 12em
	); /* account for the nav bar at the top (8em) and 4em of padding */
}
.fill-nav-remainder {
	padding-left: 4em;
	width: calc(100% - 4em);
	height: calc(100% - 4em); /* account for the nav bar at the top (8em) */
}
.homepage {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.fullheight {
	height: 100%;
}
red {
	color: $red;
}
gold {
	color: $gold;
}
p {
	font-size: 1.2em;
	color: #555555;
}
a {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: $highlight;
	cursor: pointer;
	&:link {
		color: $highlight;
		text-decoration: none;
	}
	&:visited {
		color: $highlight;
		text-decoration: none;
	}
	&:hover {
		color: $highlight;
		text-decoration: none;
	}
	&:active {
		color: $highlight;
		text-decoration: none;
	}
}
input {
	margin: 0 auto;
	margin-top: 0.5em;
	display: block;
	font-family: Sofia-Pro;
	height: 2em;
	font-size: 1.5em;
	border: 2px solid $grayDark;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 2em;
}
.button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: 0.1s;
	cursor: pointer;
	height: 1.7em;
	padding-top: 0.3em;
	margin-top: 0.5em;
	display: inline-block;
	background: $highlight;
	color: white;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: 0.5em;
	box-shadow: 1px 2px 8px $grayLight;
	font-family: Sofia-Pro;
	font-size: 1.5em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	border-radius: 2em;
	border: none;
	&:hover {
		transition: 0.1s;
		box-shadow: 1px 3px 12px $grayDark;
	}
	&:active {
		transition: 0.1s;
		box-shadow: 1px 2px 8px $grayLight;
	}
}
table {
	text-align: left;
	width: 100%;
	margin-top: 1em;
	thead {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		tr {
			border-radius: 2em;
			box-shadow: 1px 2px 8px $grayLight;
			th {
				cursor: pointer;
				&:hover {
					color: $highlight;
				}
			}
		}
	}
	tbody {
		tr {
			&:hover {
				color: $highlight;
			}
			cursor: pointer;
		}
		// overflow-y: scroll;
	}
	tr {
		th {
			font-size: 1.5em;
		}
		td {
			font-size: 1.5em;
		}
		td:last-of-type,
		th:last-of-type {
			text-align: right;
			width: 8em;
			padding-right: 1em;
		}
		td:first-of-type,
		th:first-of-type {
			width: 6em;
			padding-left: 1em;
		}
		td,
		th {
			height: 2em;
		}
	}
}
ul {
	list-style-type: none;
	padding-left: 1.25em;
	li:first-of-type {
		padding-top: 0.3em;
	}
	li:last-of-type {
		padding-bottom: 0.25em;
	}
}
#react-autowhatever-1 {
	border-radius: 1em;
	font-size: 1.2em;
	font-weight: bold;
	width: calc(70% + 2.8em) !important;
	box-shadow: 1px 2px 8px $grayLight;
	margin-top: -0.5em;
}
.react-autosuggest__suggestion--highlighted {
	color: $highlight;
}
.removableListItem:hover {
	color: $red;
	cursor: pointer;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 32px;
	margin-top: 0.3em;
	margin-left: 1em;
	input {
		display: none;
	}
	input:checked + .slider {
		background-color: #2196f3;
	}
	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(28px);
		-ms-transform: translateX(28px);
		transform: translateX(28px);
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		&:before {
			position: absolute;
			content: '';
			height: 24px;
			width: 24px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.2s;
			transition: 0.2s;
		}
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	/* Rounded sliders */
	.slider.round {
		border-radius: 32px;
	}
	.slider.round:before {
		border-radius: 50%;
	}
}
