@font-face {
  font-family: Sofia-Pro;
  src: url(assets/sofia_pro_regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Sofia-Pro;
  src: url(assets/sofia_pro_bold.otf);
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Sofia-Pro";
  width: 100%;
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Sofia-Pro";
  width: 100%;
  height: 100%;
}

.nav {
  padding-left: 4em;
  padding-right: 4em;
  height: 8em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.navItem {
  margin-left: 3em;
  color: #c4c4c4;
}
.navItem.navSubitem {
  margin-left: 0.6em;
}
.navItem._highlight {
  color: #527aff;
}
.navItem:hover {
  color: #527aff;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2.5em;
  margin: 0;
}

h3 {
  font-size: 1.7em;
  margin: 0;
}

h4 {
  font-size: 1.5em;
  cursor: pointer;
  margin: 0;
}

h5 {
  font-size: 1.2em;
  color: #888;
  margin: 0;
}

.dropdown-contents {
  border-radius: 1em;
  background: #fff;
  box-shadow: 1px 2px 8px #c4c4c4;
  display: none;
  margin-left: 3.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}
.dropdown-contents._show {
  display: block;
}

.leftpane {
  width: 33%;
  float: left;
  border-right: 2px solid lightgray;
  height: calc( 		100% - 12em 	);
  /* account for the nav bar at the top (8em) and 4em of padding */
}

.fill-nav-remainder {
  padding-left: 8em;
  width: 100%;
  height: calc(100% - 8em);
  /* account for the nav bar at the top (8em) */
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: calc(100% - 16em);
}

.fullheight {
  height: 100%;
}

red {
  color: #eb5757;
}

gold {
  color: #89ef15;
}

p {
  font-size: 1.2em;
  color: #555555;
}

a:link {
  color: #527aff;
  text-decoration: none;
}
a:visited {
  color: #527aff;
  text-decoration: none;
}
a:hover {
  color: #527aff;
  text-decoration: none;
}
a:active {
  color: #527aff;
  text-decoration: none;
}

input {
  margin: 0 auto;
  margin-top: 0.5em;
  display: block;
  font-family: Sofia-Pro;
  height: 2em;
  font-size: 1.5em;
  border: 2px solid #888;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2em;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.1s;
  cursor: pointer;
  height: 1.7em;
  padding-top: 0.3em;
  margin-top: 0.5em;
  display: inline-block;
  background: #527aff;
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 0.5em;
  box-shadow: 1px 2px 8px #c4c4c4;
  font-family: Sofia-Pro;
  font-size: 1.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 2em;
  border: none;
}
.button:hover {
  transition: 0.1s;
  box-shadow: 1px 3px 12px #888;
}
.button:active {
  transition: 0.1s;
  box-shadow: 1px 2px 8px #c4c4c4;
}

table {
  text-align: left;
  width: 100%;
  margin-top: 1em;
}
table tr:first-of-type {
  border-radius: 2em;
  box-shadow: 1px 2px 8px #c4c4c4;
}
table tr:not(:first-child) {
  cursor: pointer;
}
table tr:not(:first-child):hover {
  color: #527aff;
}
table tr th {
  font-size: 1.5em;
}
table tr td {
  font-size: 1.5em;
}
table tr td:first-of-type,
table tr th:first-of-type {
  width: 4em;
}
table tr td:last-of-type,
table tr th:last-of-type {
  text-align: right;
  width: 4em;
}
table tr td,
table tr th {
  height: 2em;
  padding-right: 2em;
  padding-left: 1em;
}

/*# sourceMappingURL=styles.css.map */
