html {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato';
    width: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato';
    width: 100%;
}
